<%- include('partials/header') %>
<link rel="stylesheet" href="/css/dashboard-styles.css">

    <div class="wrapper">
        <!-- CURRENTLY BORROWED BOOKS -->
        <h1 class="mt-5 ms-auto me-auto dashboard-heading">Currently Borrowed Books</h1>

        <table class="table table-striped table-hover mt-2 ms-auto me-auto table-bordered tables">
            <thead>
                <th>S. NO</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Date Borrowed</th>
                <th>Price</th>  
            </thead>
            <tbody>
                <% if (currBooksData) { %>
                    <% let pageOffset = 10; %>
                    <% let x = (tot_count[1]-1) * pageOffset;%>
                    <% for(let isbn in currBooksData) { %>
                        <tr>
                            <td><%= x+1 %></td>
                            <td><%= currBooksData[isbn]['name'] %></td>
                            <td><%= currBooksData[isbn]['author'] %></td>
                            <td><%= isbn %></td>
                            <td class="text-center"><%= currBooksData[isbn]['publication_date'].substring(0, 4) %></td>
                            <td class="text-center"><%= currBooksData[isbn]['genre'] %></td>
                            <td><%= currBooksData[isbn]['dateBorrowed'] %></td>
                            <td class="text-center"><%= "₹" + currBooksData[isbn]['price'] %></td>    
                        </tr>
                <% x++; } } %>
            </tbody>
        </table>


        <% if (Object.keys(currBooksData).length == 0) { %>
            <div class="info text-center ms-auto me-auto mt-2 warnings">Oops! No Books Found</div>
        <% } %>


        <div class="page">
            <nav>
                <ul class="pagination justify-content-center" id="<%= tot_count[0] %>">
                    <% if (tot_count[1] == 1) { %>
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"aria-disabled="true">Previous</a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/dashboard/pendingBooks?page=<%= Number(tot_count[1])-1 %>">Previous</a></li>
                    <% } %>

                    <div class="pages" id="">
                        <% if (tot_count[0] != 0) { %>
                            <% for(let i = 1; i <= tot_count[0]; i++) { %>
                                <% if (tot_count[1] == i) { %>
                                    <li class="page-item active" id="pg<%= i %>"><a class="page-link" href="/dashboard/pendingBooks?page=<%= i %>"><%= i %></a></li>
                                <% } else { %>
                                    <li class="page-item" id="pg<%= i %>"><a class="page-link" href="/dashboard/pendingBooks?page=<%= i %>"><%= i %></a></li>
                                <% } %>
                        <% } } %>
                    </div>
                
                    <% if (tot_count[0] == tot_count[1] || tot_count[0] == 0) { %>
                        <li class="page-item disabled"><a class="page-link"  id="next_btn">Next</a></li>
                    <% } else { %>
                        <li class="page-item">
                            <a class="page-link" id="next_btn" href="/dashboard/pendingBooks?page=<%= Number(tot_count[1])+1 %>">Next</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>

<%- include('partials/footer') %>