<%- include('partials/header') %>
<link rel="stylesheet" href="/css/staff-styles.css">

    <div class="wrapper">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="borrow-tab" data-bs-toggle="tab" data-bs-target="#borrow" type="button" role="tab" aria-controls="borrow" aria-selected="true" >Pending Books</button>
            </li>
            
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false" >Yet to be Borrowed Books</button>
            </li>
        
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="borrowed-tab" data-bs-toggle="tab" data-bs-target="#borrowed" type="button" role="tab" aria-controls="borrowed" aria-selected="false">Add Book</button>
            </li>
        </ul>



        <div class="tab-content" id="myTabContent">
    
            <div class="tab-pane fade show active" id="borrow" role="tabpanel" aria-labelledby="borrow-tab">
                <!-- PENDING TO BE RETURNED BOOKS TABLE -->
                <h1 class="mt-5 mb-3 ms-auto me-auto dashboard-heading">Pending Books</h1>
                <table class="table table-striped table-hover table-bordered tables ms-auto me-auto">
                <thead>
                    <th>S. NO</th>
                    <th>Lib-Id</th>
                    <th>Student Name</th>
                    <th>Unique Number</th>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Borrowed On</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% if (pendingBooks) { %>
                        <% let i=1; %>
                        <% for(let isbn in pendingBooks) { %>
                            <tr id = "<%= pendingBooks[isbn]['libid'] + ' ' + pendingBooks[isbn]['isbn'] %>">
                                <td>
                                    <%= i %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['libid'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['stuName'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['uniqueNum'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['name'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['author'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['genre'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['year'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['isbn'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['price'] %>
                                </td>
                                <td>
                                    <%= pendingBooks[isbn]['dateBorrowed'] %>
                                </td>
                                <td><button class="btn btn-sm dashboard-btn" onclick="processPendingBooks(this, 'processPendingBooksInp');">Return</button></td>
                            </tr>
                    <% i++; } } %>
                </tbody>
                </table>

                <div class="mt-5 ms-auto me-auto text-center">
                    <form action="/processPendingBooks" method="post">
                        <input type="text" name="pendingBooksData" id="processPendingBooksInp" style="display: none;">
                        <button class="btn btn-outline-primary disabled dashboard-btn" id="pendSubBtn" type="submit">Return Books</button>
                    </form>
                </div>
            </div>
    
    
    
            <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
    
                <!-- PENDING TO BE BORROWED BOOKS TABLE -->
                <div class="cont mt-5 ms-auto me-auto text-center">
                <h1 class="mb-3 ms-auto me-auto dashboard-heading">Yet to be Borrowed Books</h1>
                <table class="table table-striped table-hover tables table-bordered ms-auto me-auto">
                <thead>
                    <th>S. NO</th>
                    <th>Lib-Id</th>
                    <th>Student Name</th>
                    <th>Unique Number</th>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Date to be Borrowed on</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <% if (yetBorrowedBooks) { %>
                        <% let i=1; %>
                            <% for(let isbn in yetBorrowedBooks) { %>
                                <tr id = "<%= yetBorrowedBooks[isbn]['libid'] + ' ' + yetBorrowedBooks[isbn]['isbn'] %>">
                                    <td>
                                        <%= i %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['libid'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['stuName'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['uniqueNum'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['name'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['author'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['genre'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['year'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['isbn'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['price'] %>
                                    </td>
                                    <td>
                                        <%= yetBorrowedBooks[isbn]['dateBorrowed'] %>
                                    </td>
                                    <td><button class="btn btn-sm dashboard-btn" onclick="processYetBorrowedBooks(this, 'yetBorrowedBooksDataInp');">Give</button></td>
                                </tr>
                                <% i++; } } %>
                </tbody>
                </table>
    
                <div class="mt-4 ms-auto me-auto">
                    <form action="/processYetBorrowedBooks" method="post">
                        <input type="text" name="yetBorrowedBooksData" id="yetBorrowedBooksDataInp" style="display: none;">
                        <button class="btn disabled dashboard-btn" id="yetBorrowSubBtn" type="submit">Lend Books</button>
                    </form>
                </div>
    
            </div>
    
            </div>
    
    
            <div class="tab-pane fade" id="borrowed" role="tabpanel" aria-labelledby="borrowed-tab">
    
                <!-- ADD NEW BOOKS TO DATABASE -->
                <div class="card mt-5 addBook mb-5">
                    <div class="card-header">
                        <p>Add New Book</p>
                    </div>
                    <div class="card-body">
                        <div class="mt-2">
                        <p class="text-success">
                            <%= conn_err["err"] %>
                        </p>
                        <form action="/addNewBook" class="row" method="POST">
                        <div class="col-md-6 form-floating mt-3">
                            <input type="text" class="form-control no-border" id="bname" name="bname" placeholder="12 Rules To Learn To Code">
                            <label for="bname" class="form-label" style="padding-left: 18px;">Book Name</label>
                            <p class="small text-danger">
                                <%= addBookErrors["bname"] %>
                            </p>
                        </div>
        
                        <div class="col-md-6 form-floating mt-3">
                            <input type="text" class="form-control no-border" id="author" name="author" placeholder="Angela Yu">
                            <label for="lname" class="form-label" style="padding-left: 18px;">Author</label>
                            <p class="small text-danger">
                                <%= addBookErrors["author"] %>
                            </p>
                        </div>
        
                        <div class="col-md-6 form-floating mt-4">
                            <input type="text" class="form-control no-border" id="genre" name="genre" placeholder="Education">
                            <label for="inputEmail4" class="form-label" style="padding-left: 18px;">Genre</label>
                            <p class="small text-danger">
                                <%= addBookErrors["genre"] %>
                            </p>
                        </div>
        
                        <div class="col-md-6 form-floating mt-4">
                            <input type="text" class="form-control no-border" id="isbn" name="isbn" placeholder="123456789012345">
                            <label for="isbn" class="form-label" style="padding-left: 18px;">ISBN</label>
                            <p class="small text-danger">
                                <%= addBookErrors["isbn"] %>
                            </p>
                        </div>
        
                        <div class="col-6 form-floating mt-4">
                            <input type="text" class="form-control no-border" id="year" name="year" placeholder="2020">
                            <label for="year" class="form-label" style="padding-left: 18px;">Published Year</label>
                            <p class="small text-danger">
                                <%= addBookErrors["year"] %>
                            </p>
                        </div>
        
                        <div class="col-md-6 form-floating mt-4">
                            <input type="text" class="form-control no-border" id="price" name="price" placeholder="123.45">
                            <label for="price" class="form-label" style="padding-left: 18px;">Price</label>
                            <p class="small text-danger">
                                <%= addBookErrors["price"] %>
                            </p>
                        </div>
    
                        <div class="col-md-6 form-floating mt-4 ms-auto me-auto">
                            <input type="text" class="form-control no-border" id="noOfCopies" name="noOfCopies" placeholder="1">
                            <label for="noOfCopies" class="form-label" style="padding-left: 18px;">No Of Copies</label>
                            <p class="small text-danger">
                                <%= addBookErrors["noOfCopies"] %>
                            </p>
                        </div>
        
                        <div class="col-12 mt-4">
                            <button type="submit" class="btn dashboard-btn" name="reg_btn">Add Book</button>
                        </div>
        
                        </form>

                    </div>
                </div>
                
            </div>
        
        </div>
    
    </div>








        


        


        
    </div>

    



    <script type="text/javascript" src="staffScript.js"></script>

<%- include('partials/footer') %>
